<!DOCTYPE html>
<main>
    <head>
        <title>SHARE | Home</title>

        <%- include head.ejs %>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <%- include header.ejs %>
          
        <% if(locals.datas) { %>
            <div style="display: none;" id="data-vals"><%=datas%></div>
            <div style="display: none;" id="date-vals"><%=dates%></div>
        <% } %>

        <!-- contents -->
        <div class="panel-div">
            <h1 style="margin-bottom: 0;">
                Your Schedule
            </h1>
            <h3>
                for the next week
            </h3>
            <table id="calendar">
                <tr>
                    <th></th> <!-- time label column -->
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                </tr>
            </table>
        </div>
        
        <%- include footer.ejs %>
    </body>
    <script>
        var daysofweek = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"];

        // fill calendar cells
        var cal = document.getElementById("calendar");

        // days of week
        var headers = document.getElementsByClassName("cal-header");
        var today = new Date();
        var day = today.getDay();
        for(var d = 0; d < 7; d++){
            headers[d].innerText = daysofweek[(day + d) % 7];
        }

        // hours of day
        var sTime = 700, eTime = 1700; // calendar start/end times (24hr "time")
        var timeDiv = 4; // how many time divisions per hour (4 = 15 min, 2 = 30 min, etc.)
        for(var r = 0; r <= timeDiv * (eTime - sTime) / 100; r++){
            var row = document.createElement("tr");

            // time label
            var tLabel = document.createElement("td");
            if(r % 2 == 0){
                var time = sTime + r * (100 / timeDiv);
                tLabel.innerText = convertTime(time);
                tLabel.setAttribute("class", "time-label");
            }
            row.appendChild(tLabel);

            // days of week for this time
            for(var c = 0; c < 7; c++){
                var cell = document.createElement("td");
                cell.setAttribute("id", "cal-" + r + "-" + c) // give each cell unique id for later access
                row.appendChild(cell);
            }
            cal.appendChild(row);
        }

        // convert raw integer time (24hr-ish) to string formatted
        function convertTime(time){
            // 12 hr clock format
            if(true){
                var period = "AM";
                if(time >= 1200){
                    time -= 1200;
                    period = "PM";
                }
                var h = time / 100;
                var m = time % 100 > 100 ? time % 100 : "0" + (time % 100);
                return (h == 0 ? 12 : h) + ":" + m + " " + period;
            
            // 24 hour time format
            }else{
                var h = time >= 1000 ? time / 100 : "0" + time / 100;
                var m = time % 100 > 100 ? time % 100 : "0" + (time % 100);
                return "" + h + m;
            }
        }

        // display or hide tooltip
        function triggerTooltip(button, id, visible){
            var tooltip = document.getElementById(id);
            if(visible){
                var box = button.getBoundingClientRect();
                tooltip.style.display = "block";
                var xoffset = window.pageXOffset || document.documentElement.scrollLeft; // for calculating absolute pos on screen
                var yoffset = window.pageYOffset || document.documentElement.scrollTop;
                tooltip.style.left = `${box.left + xoffset + 20}px`;
                tooltip.style.top = `${box.top + yoffset + 15}px`;
            }else{
                tooltip.style.display = "none";
            }
        }

        function toggleTooltip(button, id){
            var tooltip = document.getElementById(id);
            if(tooltip.style.display == "none"){
                var box = button.getBoundingClientRect();
                tooltip.style.display = "block";
                var xoffset = window.pageXOffset || document.documentElement.scrollLeft; // for calculating absolute pos on screen
                var yoffset = window.pageYOffset || document.documentElement.scrollTop;
                tooltip.style.left = `${box.left + xoffset + 20}px`;
                tooltip.style.top = `${box.top + yoffset + 15}px`;
            }else{
                tooltip.style.display = "none";
            }
        }

        function formatDate(date){
            return months[date.getMonth()] + " " + date.getDate() + " " + date.getFullYear();
        }
    </script>
</main>